.slick-slider .slick-prev{
    display: block !important;
}
.slick-prev,.slick-next{
    display: block !important;
    font-size: 20px !important;
    background:none !important;
    width:100px;
}
.slick-prev::before,.slick-next::before{
    font-size: 30px;
}